* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 23px;
    font-weight: 100;
  }
  
  :root {
    --bg: #64fd64;
    --ss: 1%;
    --sb: 2px;
    --sixty: #d5cabd;
    --cartBg: #d5cabda8;
    --thirty: #4e8397;
    --acc: #845ec2;
    --chestHair: #00000000;
  }
  #content{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      
  }
  #allCats{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      transform-origin:top center;
      transform: scale(0);
      display: none;
    }
    #allCats.active{
      display: flex;
    transform: scale(1);
    transition-duration: 1000ms;
  }
  span{
    color: red;
}
#basket{
  position: fixed;
bottom: 0;
z-index: 10;
overflow-y: scroll;
}
.Item {
    background-color: var(--sixty);
    max-width: 25vw;
    margin: 2em;
    border: var(--sb) solid var(--acc);
    padding: var(--ss);
  }
  .Item >img{
    width: 98% ;
    border-radius: 50%;
    aspect-ratio: 1;
  }
button{
  padding: var(--ss);
}
  @media only screen and (max-width: 700px){

    #content{
      flex-direction: column;

    }
    .Item{
      margin: var(--ss);
      margin-bottom: 2em;
      max-width:98vw;
max-height: 87vh;
    }
    }